body, html{
  margin: 0px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  font-size: 17px;
  line-height: 33px;
  letter-spacing: 2px;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
}
.LeftBar {
  width: 27.778%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  position: fixed;
  height: 100%;
  background-color: white;
}
.manu-bar{
  width: 180px;
}
.manu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.manu-text{
  text-decoration: none;
  cursor: pointer;
  margin: 2px 0px;
  color: #777;
  transition: .3s;
}
.manu-text:hover {
  color: black;
  letter-spacing: 3.5px;
}
.push{
  margin-right: 27.8%;
}
.rooms{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: auto;
}
.title{
  background-color: rgb(0 0 0 / 4%);
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: fit-content;
}
.Pportfolio{
  margin: 0px 0px;
}
.strong {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  font-size: 30px;
}
.display {
  height: 101%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  z-index: 1;
  animation-name: open ;
  animation-duration: .4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes open{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes close{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.image-display {
  block-size: 70%;
}
.images-display {
  height: 80px;
  margin: 0px 1px;
}